<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Product Category Page</title>
    <!-- CSS files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick-theme.css' %}" />

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/dark-theme.css' %}" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"], input[type="number"]').change(function() {
                updateProducts();
            });
            $('#filter-price').click(function(e) {
                e.preventDefault();
                updateProducts();
            });
            $('#sort-by').change(function() {
                updateProducts();
            });

            function updateProducts() {
                
                var brands = [];
                var warranties = [];
                var sellers = [];
                var minPrice = $('#min_price').val();
                var maxPrice = $('#max_price').val();
                var sortBy = $('#sort-by').val();

                
                $('input[name="brand"]:checked').each(function() {
                    brands.push($(this).val());
                });
                $('input[name="warranty"]:checked').each(function() {
                    warranties.push($(this).val());
                });
                $('input[name="seller"]:checked').each(function() {
                    sellers.push($(this).val());
                });

                $.ajax({
                    url: window.location.href,
                    type: 'GET',
                    data: {
                        
                        'brand[]': brands,
                        'warranty[]': warranties,
                        'seller[]': sellers,
                        'min_price': minPrice,
                        'max_price': maxPrice,
                        'sort_by': sortBy
                    },
                    dataType: 'json',
                    success: function(response) {
                        updateProductList(response.products);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            }

            function updateProductList(products) {
                var productList = $('#product-list');
                productList.empty();

                if (products.length === 0) {
                    productList.append('<p>No products found.</p>');
                } else {
                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];

                        var html = '<div class="col">';
                        html += '<div class="card border shadow-none">';
                        html += '<div class="position-relative overflow-hidden">';
                        html += '<a href="#">';
                        html += '<img src="' + product.profileimg + '" class="card-img-top" alt="' + product.name + '">';
                        html += '</a>';
                        html += '</div>';
                        html += '<div class="card-body border-top">';
                        html += '<h5 class="mb-0 fw-bold product-short-title">' + product.name + '</h5>';
                        html += '<p class="mb-0 product-short-name">' + product.product_short_note + '</p>';
                        html += '<div class="product-price d-flex align-items-center gap-2 mt-2">';
                        html += '<div class="h6 fw-bold">TK.' + product.discounted_price + '</div>';
                        html += '<div class="h6 fw-light text-muted text-decoration-line-through">TK.' + product.price + '</div>';
                        html += '</div>';
                        html += '<div class="cart-buttons">';
                        html += '<div class="buttons d-flex flex-column flex-lg-row">';
                        html += '<a href="#" class="btn btn-lg btn-dark btn-ecomm"><i class="bi bi-basket2 me-2"></i>Add to Bag</a>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';

                        productList.append(html);
                    }
                }
            }
        });
    </script>
    <style>
        .height-1{
            height: auto;
        }
    </style>
</head>
<body>
    
    <div class="page-content">
        <h1 class="text-center">Product Category Page</h1>
        <!--start product grid-->
        <section class="section-padding">
         <h5 class="mb-0 fw-bold d-none">Product Grid</h5>
         <div class="container">
           <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-funnel me-1"></i> Filters</span></div>
            <div class="row">
               <div class="col-12 col-xl-3 filter-column">
                   <nav class="navbar navbar-expand-xl flex-wrap p-0">
                     <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                       <div class="offcanvas-header">
                         <h5 class="offcanvas-title mb-0 fw-bold" id="offcanvasNavbarFilterLabel">Filters</h5>
                         <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                       </div>
                       <div class="offcanvas-body">
                         <div class="filter-sidebar">
                           <div class="card rounded-0">
                             <div class="card-header d-none d-xl-block bg-transparent">
                                 <h5 class="mb-0 fw-bold">Filters</h5>
                             </div>
                             <div class="card-body">
                                <h6 class="p-1 fw-bold bg-light">Categories</h6>
                                <div class="categories">
                                    <div class="categories-wrapper height-1 p-1">

                                        {% for category in categories %}  
                                        <ul class="widget-link list-unstyled">
                                            
                                            <li><a href="/?category={{category.id}}" class=""> {{ category.name }}
                                                </a>
                                            </li>
                                        </ul>                                   
                                        
                                        {% endfor %}

                                    </div>
                                </div> 
                               <hr>
                               <div class="Price">
                                    <h6 class="p-1 fw-bold bg-light">Price</h6>
                                    <div class="Price-wrapper p-1">
                                        <div class="input-group">     
                                            <input type="text" name="min_price" class="form-control rounded-0"  id="min_price" placeholder="Min Price">
                                            <span class="input-group-text bg-section-1 border-0">-</span>
                                            <input type="text" name="max_price" class="form-control rounded-0" id="max_price" placeholder="Max Price">
                                            
                                            {% comment %} <input type="text" class="form-control rounded-0" placeholder="$10">
                                            <span class="input-group-text bg-section-1 border-0">-</span>
                                            <input type="text" class="form-control rounded-0" placeholder="$10000"> {% endcomment %}
                                            <a href="#" type="button" id="filter-price" class="btn btn-outline-dark rounded-0 ms-2"><i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                               <div class="brands">
                                    <h6 class="p-1 fw-bold bg-light">Brands</h6>
                                    <div class="brands-wrapper height-1 p-1">
                                        {% for brand in brands %}                                   
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="brand" value="{{ brand.id }}" id="chekBrand-{{forloop.counter}}">
                                            <label class="form-check-label" for="chekBrand-{{forloop.counter}}">
                                            <span>{{ brand.name }}</span>
                                            </label>
                                        </div>
                                        {% endfor %}
                                  </div>
                               </div>
                               <hr>
                               <div class="brands">
                                    <h6 class="p-1 fw-bold bg-light">Sellers</h6>
                                    <div class="brands-wrapper height-1 p-1">
                                        {% for seller in sellers %}                                   
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="seller" value="{{ seller.id }}" id="chekSeller-{{forloop.counter}}">
                                            <label class="form-check-label" for="chekSeller-{{forloop.counter}}">
                                            <span>{{ seller.name }}</span>                                        
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="brands">
                                    <h6 class="p-1 fw-bold bg-light">Warranty Period</h6>
                                    <div class="brands-wrapper height-1 p-1">
                                        {% for warranty in warranties %}                                   
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="warranty" value="{{ warranty.id }}" id="chekWarranty-{{forloop.counter}}">
                                            <label class="form-check-label" for="chekWarranty-{{forloop.counter}}">
                                            <span>{{ warranty.duration }}</span>
                                            </label>
                                        </div>
                                        {% endfor %}
                                  </div>
                               </div>
                               
                                
                           </div>
                         </div>
                       </div>
                     </div>
                 </nav>
               </div>
               <div class="col-12 col-xl-9">
                 <div class="shop-right-sidebar">
                   <div class="card rounded-0">
                     <div class="card-body p-2">
                       <div class="d-flex align-items-center justify-content-between bg-light p-2">
                        {% if category_name %}
                          <div class="product-count"> {{category_name}} have {{product_count}} Items</div>
                          {% else %}
                          <div class="product-count"> All Products</div>
                          {% endif %}
                          <form>
                           <div class="input-group">
                             <span class="input-group-text bg-transparent rounded-0 border-0">Sort By</span>
                             <select class="form-select rounded-0" id="sort-by">
                                <option value="1">Default</option>
                                <option value="2">Name: A to Z</option>
                                <option value="3">Price: High to Low</option>
                                <option value="4">Price: Low to High</option>
                             </select>
                           </div>
                         </form> 
                       </div>
                     </div>
                   </div>
     
                   <div class="product-grid mt-4">
                     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="product-list">

                        
                        {% for product in products %} 
                        <div class="col">
                            <div class="card border shadow-none">
                                <div class="position-relative overflow-hidden">
                                    <a href="#">
                                        <img src="{{ product.profileimg.url }}" class="card-img-top" alt="...">
                                    </a>
                                </div>
                                <div class="card-body border-top">
                                    <h5 class="mb-0 fw-bold product-short-title">{{product.name}}</h5>
                                    <p class="mb-0 product-short-name">{{product.product_short_note}}</p>
                                    <div class="product-price d-flex align-items-center gap-2 mt-2">
                                        <div class="h6 fw-bold">TK. {{product.discounted_price}}</div>
                                        <div class="h6 fw-light text-muted text-decoration-line-through">TK. {{product.price}}</div>
                                    </div>
                                    <div class="cart-buttons">
                                        <div class="buttons d-flex flex-column flex-lg-row">
                                        <a href="#" class="btn btn-lg btn-dark btn-ecomm"><i class="bi bi-basket2 me-2"></i>Add to Bag</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                       {% endfor %}

                       
                       
                   </div><!--end row-->
                 </div>
     
                 <hr class="my-4">
     
                 
     
                 </div>
               </div>
            </div><!--end row-->
     
            
         </div>
       </section>
        <!--start product details-->
     

    </div>
       <!--end page content-->



</body>
</html>
